.container{
    width: 100%;
}

.selection{
    width: max-content;
    margin: 3rem auto;
}

.favs{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    gap:1.5rem;
    text-align: center;
    margin: 3rem auto;
 }
 