@font-face {
   font-family: "Get Schwifty";
   src: url("get_schwifty.ttf") format("truetype");
}

.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url("https://fondosmil.com/fondo/27341.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   max-width: 100vw;
   min-height: 100vh;
}


.titulo{
   font-size: 10rem;
   font-family: "Get Schwifty";
   color: #08BAE3;
   -webkit-text-stroke: 0.1rem greenyellow;
   text-shadow: 0.4rem 0.4rem  #000;
   margin: 3rem 0;
}

.titulo span{
   font-size: 5rem;
}

@media screen and (max-width:800px){
   .App{
      justify-content: space-between;
   }
}
